{% extends "index.html" %} 
 
{% block content %} 
  <form method="POST">
  <div class="mb-3">
    <label for="customer" class="form-label">Customer</label>
    <select name="customer_id" class="form-control" required>
      {% for customer in customers %}
      <option value="{{ customer.id }}">{{ customer.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="product" class="form-label">Product</label>
    <select name="product_id" class="form-control" required>
      {% for product in products %}
      <option value="{{ product.id }}">{{ product.name }} (₦{{ product.price }})</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="qty" class="form-label">Quantity</label>
    <input type="number" name="qty" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Create Order</button>
</form>
<div class="alert alert-info mt-3">
  <strong>Payment Instructions:</strong><br>
  Please make payment to the following account:<br>
  <b>Bank:</b> First Bank Plc<br>
  <b>Account Name:</b> S.A.M VENTURES<br>
  <b>Account Number:</b> 2032554272<br>
   </p>
  <p class="text-danger"><i>Note:</i> Your order will remain <b>Pending</b> until payment is confirmed.</p>
</div>
</div>


{% endblock %}
